* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./imagens/Background-moon.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./imagens/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./imagens/Background-sun.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./imagens/sun.svg);
}


body { 
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh; /* media queries - altura da página viewport*/
}

body *{ 
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px; /*cima lado baixo */
    /* border: 1px solid yellow;  colocar borda para estudar depois pode tirar */
    padding: 0 24px
    ;
}
/* PROFILE */
#profile{
    text-align: center;
    padding: 24px; /*figma*/
    
}

#profile img {
    width: 112px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, pink 0% /*cor inicio da margem*/, purple 50.52%, #E2D45C 100%/*final do final da margin degrade*/);
    padding: 4px;
}

#profile p {
    font-weight: 500; /*figma*/
    line-height: 24px;
    margin-top: 8px; /*figma*/
}

/* SWITCH */

#switch {
    /* border: 1px solid red;  teste de borda */
    position: relative; /* faz o botão sol/lua (span) ficar dentro da caixa buttom */
    width: 64px; /*tamanho da caixa */

    margin: 4px auto; /*centralizou o botão (alinhamento de display block)*/
}

#switch button {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center; /* <-- modo de posicionar um background */;

    /*modo de centralizar um position absolute */
    position: absolute; /* position relative (acima) domina o absolute e mantem o sol|lua (buttom) dentro do track (span) */
    top: 50%; /* traz o elemento Y pra baixo */
    left: 0;
    z-index: 1; /*camada sol|lua (buttom) sobre track (span) */
    transform: translateY(-50%); /* move o elemento pra cima e X pros lados */ 

    animation: slide-back 0.2s; /* ver lá no final */

}

.light #switch button { /* muda o sol|lua pro outro lado */
    animation: slide-in 0.4s forwards /* --> faz reiniciar o comando 4s */
    /* ver lá no final */
}

#switch button:hover {
    outline: 8px solid var(--highlight-color) /* cor de fundo do circulo botão */
}

#switch span { /* track */
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*links*/

ul {
    list-style: none; /*tira a bolinha */

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;

}

ul li a {
    display: flex; 
    align-items: center; /*forma de alinhar um DISPLAY FLEX */
    justify-content: center; /*forma de alinhar um DISPLAY FLEX */
    padding: 16px 24px;

    background-color: var(--surface-color-hover);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px) ;

    text-decoration: none; /*tira a linha abaixo das letras */
    font-weight: 500;

    transition: background-color 0.5s;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--text-color);
}

/*social links */

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background-color 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
    padding: 16px;
}

footer{
    padding: 24px;
    text-align: center;
    font-size: 14px;
}

/* media queries - largura da página e largura das tags dentro da pag */

@media (min-width: 700px){
    :root {
        --bg-url: url(./bg-moon.jpg);
    }

    .light {
        --bg-url: url(./bg-sun.jpg);
    }
}

/* animation */

@keyframes slide-in {
    from{
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left:50%;
    }
    to {
        left: 0;
    }
}